{% extends "base.html" %} {% load static %} {% load i18n %}
<!-- title del sitio -->
{% block title %} Form {% endblock %}
<!-- Descripción del sitio -->
{% block desc %}Formulario de aplicantes de face-to-face learning center.{% endblock %}
<!-- Contenido del sitio -->
{% block content %}
<!-- Políticas y privacidad Modal Container: form-container tiene blur-sm, body tiene overflow-hidden -->
<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed z-10 flex h-screen w-full items-center justify-center bg-black bg-opacity-50 md:inset-0">
  <!-- Modal content container: Aquí se cambia el tamaño y padding del modal -->
  <div class="relative h-4/5 w-1/2 p-4">
    <!-- Modal content -->
    <div class="relative flex h-full flex-col rounded-lg bg-white shadow">
      <!-- Modal header -->
      <div class="flex flex-grow-[1] items-center justify-center rounded-t border-b p-4">
        <h3 class="text-md font-kumbh_bold text-blue">{% blocktrans %}POLÍTICAS DE SEGURIDAD{% endblocktrans %}</h3>
      </div>
      <!-- Modal body -->
      <div class="flex-grow-[3] space-y-4 overflow-y-scroll p-7 text-black">
        <!-- Texto inicial -->
        <div class="space-y-2 px-2 text-justify">
          <p class="text-ms leading-relaxed">
            {% blocktrans %}Antes de unirte a nuestro equipo, es importante que entiendas y aceptes nuestras políticas de empresa. <br /><br />
            Estas políticas sirven como guías para nuestros empleados para garantizar un ambiente de trabajo positivo y seguro, así como para mantener el más alto nivel de profesionalismo y ética. <br /><br />
            Al aceptar estas políticas, estás de acuerdo en cumplirlas en todo momento durante tu empleo con nosotros. <br /><br />
            Si tienes alguna pregunta o inquietud, no dudes en contactarnos.{% endblocktrans %}
          </p>
        </div>

        <!-- Acuerdo laboral title: Está acá afuera para permitir la indentación de los párrafos -->
        <p class="text-ms my-3 inline-flex w-full items-center justify-between rounded-lg border border-gray-200 px-4 py-4 font-kumbh_bold font-medium text-blue shadow-sm">
          {% blocktrans %}ACUERDO LABORAL{% endblocktrans %}
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mt-2 h-5 w-5 animate-bounce">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
          </svg>
        </p>

        <!-- Acuerdo laboral text -->
        <div class="space-y-3 px-2 text-justify">
          <p class="text-ms leading-relaxed underline-offset-4">
            {% blocktrans %}<b>I. Igualdad de oportunidades en el empleo:<br /><br /></b> Face To Face prohíbe la discriminación y el acoso de cualquier tipo. Somos una empresa que ofrece igualdad de oportunidades de empleo a todos los empleados y solicitantes de raza, color, religión, sexo, orientación sexual, origen nacional, edad, estado civil, discapacidad o cualquier otra característica protegida por la ley. <br /><br />
            Face To Face cumple con todas las leyes estatales, federales y locales.
            <br />
            <br />
            <b>II. Lugar de trabajo libre de drogas:<br /><br /></b>
            En cumplimiento de la ley del lugar de trabajo libre de drogas de 1998, Face To Face se compromete a proporcionar un entorno de trabajo seguro productivo que este de acuerdo con los estándares de la comunidad en la que operamos la empresa. <br /><br />
            El consumo, de sustancias como una droga o alcohol, representan un riesgo para la salud y la seguridad de nuestros empleados y de las instalaciones donde prestamos servicios. <br /><br />
            Por esa razón, Face To Face prohíbe el consumo, transporte, compra y / o venta de cualquier tipo de medicamento. Al aceptar nuestros términos y continuar con el proceso de solicitud, usted entiende que es posible que se le pida que se haga una prueba de drogas antes de comenzar a trabajar o recibir una oferta de empleo. <br /><br />
            Además, entiende que, si son contratados, nuestros empleados están sujetos a exámenes de drogas sin previo aviso basados en la aleatoriedad y / o sospecha razonable por parte de los supervisores en el lugar de trabajo, Face To Face puede rechazar las solicitudes y / o cancelar la contratación de aquellas personas cuyo resultado de la prueba de drogas haya dado positivo para una sustancia.
            <br />
            <br />
            <b>III. No competencia:<br /><br /></b>
            Al aceptar nuestros términos y continuar con el proceso de solicitud, usted acepta que si se convierte en empleado y durante un periodo mínimo de 12 meses después del último día en que sea empleado por nuestra Compañía, no estará directamente involucrado. <br /><br />
            O indirectamente en actividades similares realizadas por nosotros, en cualquiera de las propiedades en las que Face To Face proporciona sus servicios. <br /><br />
            Es decir, que el empleado acepta que durante un periodo mínimo de 1 año después de su último día de trabajo con Face To Face, no prestara servicios directamente a la propiedad en la que trabajo ni trabajara para ninguna compañía que preste servicios en la misma propiedad. <br /><br />
            Del mismo modo, usted acepta que durante un periodo mínimo de 12 meses después de su último día de trabajo con Face To Face, no tomara ninguna medida para ayudar a otra compañía o actuar en contra de nuestra compañía, reconociendo la necesidad de proteger al empleador de su competencia. <br /><br />
            Para cumplir con esto, usted acepta que las condiciones mencionadas anteriormente son razonables y necesarias para la protección de Face To Face y acepta no revelar la identidad de nuestros clientes ni ninguna información relacionada con nuestra compañía. <br /><br />
            El solicitante acepta que cualquier violación de cualquiera de las condiciones mencionadas anteriormente permitirá al empleador solicitar una orden de restricción por lesiones, reconociendo que este será un derecho disponible para nuestra compañía por el incumplimiento de este acuerdo por parte del solicitante. <br /><br />
            En los casos en los que la propiedad solicite el paso directo del empleado de la agencia a ellos, de ser notificado y previamente acordado entre las partes (agencia y cliente), considerando que dicho empleado debe haber prestado mínimo 90 días de servicio a 700 horas con la agencia.
            <br />{% endblocktrans %}
          </p>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex flex-grow-[1] items-center justify-center rounded-b border-t border-gray-200 p-4">
        <button id="aceptar_politicas_button" name="aceptar_politicas_button" type="button" class="w-full rounded-lg border border-gray-300 bg-blue px-5 py-2.5 text-center font-kumbh_bold text-sm text-white shadow-sm transition ease-in-out hover:scale-y-105 hover:bg-hoverblue focus:ring-2 focus:ring-sky" onclick="aceptarPoliticas() ">ACEPTO LAS POLÍTICAS</button>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor del formulario -->
<div id="form_container" class="flex h-full w-1/2 flex-col items-center justify-start gap-2 blur-sm">
  <!-- Título del formulario -->
  <h1 class="flex h-fit w-full flex-col items-center justify-center rounded-lg border border-gray-200 bg-blue p-3 font-kumbh_bold text-lg text-white shadow-sm">{% blocktrans %}APPLICANT FORM{% endblocktrans %}</h1>

  <!-- Contenedor del logo / imagen -->
  <div class="flex h-fit w-full justify-center rounded-lg border border-gray-200 shadow-sm">
    <!-- Logo f2f -->
    <img class="my-4 h-20" src="{% static 'img/f2f-logo.svg' %}" alt="" />
  </div>

  <!-- Campos del formulario -->
  <form method="post" autocomplete="off" action="{% url 'src_routes:envio_formulario' %}" enctype="multipart/form-data" class="mt-2 flex h-fit w-full flex-col gap-12 text-black">
    {% csrf_token %}<!--para que un hacker no se haga pasar por el usuario-->

    <!-- Grupo Datos personales generales -->
    <div class="flex h-fit w-full flex-col gap-4">
      <!-- Fila Nombre-->
      <div class="h-fit w-full">
        <!-- Label Nombre -->
        <label for="nombre" class="text-md mb-1 ml-1 flex h-fit w-full">{% blocktrans %}Name{% endblocktrans %}</label>

        <!-- Campos del nombre -->
        <div class="flex h-full w-full gap-4">
          <!-- Nombre -->
          <div class="input_control flex w-full flex-col gap-2">
            <input type="text" id="nombre" name="nombre" # aria-describedby="helper-text-explanation" class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}First name{% endblocktrans %}" />
            <span class="message ml-1 hidden text-sm">Mensaje</span>
          </div>

          <!-- Apellido -->
          <div class="input_control flex w-full flex-col gap-2">
            <input type="text" id="apellido" name="apellido" # aria-describedby="helper-text-explanation" class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}Last name{% endblocktrans %}" />
            <span class="message ml-1 hidden text-sm">Mensaje</span>
          </div>
        </div>
      </div>

      <!-- Fila Email / Género-->
      <div class="flex h-fit w-full flex-row gap-4">
        <!-- Email -->
        <div class="flex h-full w-full flex-col">
          <label for="email" class="text-md mb-1 ml-1 flex h-fit w-full">{% blocktrans %}Email{% endblocktrans %}</label>
          <div class="input_control flex w-full flex-col gap-2">
            <input type="email" id="email" name="email" # aria-describedby="helper-text-explanation" class="w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}example@email.com{% endblocktrans %}" autocomplete="off" />
            <span class="message ml-1 hidden text-sm">Mensaje</span>
          </div>
        </div>

        <!-- Género -->
        <div class="flex h-full w-full flex-col">
          <label for="genero" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% blocktrans %}Gender{% endblocktrans %}</label>
          <div class="input_control flex w-full flex-col gap-2">
            <select contenteditable="true" id="genero" name="genero" # class="w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
              <option value="" disabled selected>{% blocktrans %}Select{% endblocktrans %}</option>
              <option value="Masculino">{% blocktrans %}Male{% endblocktrans %}</option>
              <option value="Femenino">{% blocktrans %}Female{% endblocktrans %}</option>
              <option value="Otro">{% blocktrans %}Other{% endblocktrans %}</option>
            </select>
            <span class="message ml-1 hidden text-sm">Mensaje</span>
          </div>
        </div>
      </div>

      <!-- Fila Nacionalidad / Nacimiento -->
      <div class="flex h-fit w-full flex-row gap-4">
        <!-- Nacionalidad -->
        <div class="flex h-full w-full flex-col">
          <label for="nacionalidad" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% blocktrans %}Nationality{% endblocktrans %}</label>
          <div class="input_control flex w-full flex-col gap-2">
            <select id="nacionalidad" name="nacionalidad" # class="w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 outline-none focus:border-sky focus:ring-sky">
              <option value="" disabled selected>{% blocktrans %}Select{% endblocktrans %}</option>
              <option value="Panama">Panamá</option>
              <option value="Argentina">Argentina</option>
              <option value="Chile">Chile</option>
              <option value="Colombia">Colombia</option>
              <option value="Cuba">Cuba</option>
              <option value="Ecuador">Ecuador</option>
              <option value="United-States">United States</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Haiti">Haití</option>
              <option value="Honduras">Honduras</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Mexico">México</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Peru">Perú</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Otro">{% translate "Other" %}</option>
            </select>
            <span class="message ml-1 hidden text-sm">Mensaje</span>
          </div>
        </div>

        <!-- Nacimiento -->
        <div class="relative flex h-full w-full flex-col">
          <!-- Label -->
          <label for="fecha_nacimiento" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% blocktrans %}Birthdate{% endblocktrans %}</label>
          <!-- ícono datepicker -->
          <!--           <div class="pointer-events-none absolute inset-y-11 end-3 flex items-center">
            <svg class="h-3.5 w-3.5 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
            </svg>
          </div> -->
          <div class="input_control flex w-full flex-col gap-2">
            <!-- datepicker input -->
            <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="block w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 placeholder:text-gray-400 focus:border-sky focus:ring-sky" />
            <span class="message ml-1 hidden text-sm">Mensaje</span>
          </div>
        </div>
      </div>

      <!-- Fila Alergias -->
      <div class="h-fit w-full">
        <label for="alergia" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% blocktrans %}Do you have any allergies or disabilities?{% endblocktrans %}</label>
        <div class="input_control flex w-full flex-col gap-2">
          <input type="text" id="alergia" name="alergia" # aria-describedby="helper-text-explanation" class="w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm placeholder-gray-400 outline-none focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}Specify{% endblocktrans %}" />
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div>
    </div>

    <!-- Grupo Documentos -->
    <div class="flex h-fit w-full flex-col gap-4">
      <!-- Fila ID-->
      <div class="h-fit w-full">
        <label for="id_file" class="text-md mb-1 ml-1 flex h-fit w-full">{% blocktrans %}ID{% endblocktrans %}</label>
        <input class="block h-fit w-full cursor-pointer rounded-lg border border-gray-300 bg-white text-sm" id="id_file" name="id_file" type="file" accept="application/pdf" />
        <span class="message ml-1 hidden text-xs text-gray-400">{% blocktrans %}.pdf archives only{% endblocktrans %}</span>
      </div>

      <!-- Fila CV -->
      <div class="h-fit w-full">
        <label for="cv_file" class="text-md mb-1 ml-1 flex h-fit w-full">{% blocktrans %}Resume{% endblocktrans %}</label>
        <input class="block h-fit w-full cursor-pointer rounded-lg border border-gray-300 bg-white text-sm" id="cv_file" name="cv_file" type="file" accept="application/pdf" />
        <span class="message ml-1 hidden text-xs text-gray-400">{% blocktrans %}.pdf archives only{% endblocktrans %}</span>
      </div>
    </div>

    <!-- Grupo Contactar al aplicante -->
    <div class="flex h-fit w-full flex-col gap-4">
      <!-- Fila Teléfono1 / Contacto de emergencia (tlf) -->
      <div class="flex h-fit w-full flex-row gap-4">
        <!-- Teléfono1 -->
        <div class="flex h-full w-full flex-col">
          <label for="Telefono1" class="text-md mb-1 ml-1 flex h-fit w-full">{% blocktrans %}Phone numbers{% endblocktrans %}</label>
          <div class="flex h-fit w-full gap-2">
            <div class="input_control flex h-fit w-full flex-col gap-2">
              <select id="codigo1" contenteditable="true" name="codigo1" class="w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                <option value="" disabled selected>{% blocktrans %}Code{% endblocktrans %}</option>
                <option value="507">Panamá (+507)</option>
                <option value="1">EEUU (+1)</option>
              </select>
              <span class="message ml-1 hidden text-sm">Mensaje</span>
            </div>
            <div class="input_control flex h-fit w-full flex-col gap-2">
              <input type="tel" id="Telefono1" name="Telefono1" class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="00000000" />
              <span class="message ml-1 hidden text-sm">Mensaje</span>
            </div>
          </div>
        </div>

        <!-- Contacto de emergencia (tlf) -->
        <div class="flex h-full w-full flex-col">
          <label for="telefono_emergencia" class="text-md mb-1 ml-1 flex h-fit w-full">{% blocktrans %}Emergency contact{% endblocktrans %}</label>
          <div class="flex h-fit w-full gap-2">
            <div class="input_control flex h-fit w-full flex-col gap-2">
              <select id="codigo3" contenteditable="true" name="codigo3" class="w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                <option value="" disabled selected>{% blocktrans %}Code{% endblocktrans %}</option>
                <option value="507">Panamá (+507)</option>
                <option value="1">EEUU (+1)</option>
              </select>
              <span class="message ml-1 hidden text-sm">Mensaje</span>
            </div>
            <div class="input_control flex h-fit w-full flex-col gap-2">
              <input type="tel" id="telefono_emergencia" name="telefono_emergencia" class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="00000000" />
              <span class="message ml-1 hidden text-sm">Mensaje</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Fila Teléfono2 / Contacto de emergencia (nombre) -->
      <div class="flex h-fit w-full flex-row gap-4">
        <!-- Teléfono2 -->
        <div class="flex h-fit w-full gap-2">
          <div class="input_control flex h-fit w-full flex-col gap-2">
            <select id="codigo2" contenteditable="true" name="codigo2" class="w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
              <option value="" disabled selected>{% blocktrans %}Code{% endblocktrans %}</option>
              <option value="507">Panamá (+507)</option>
              <option value="1">EEUU (+1)</option>
            </select>
            <span class="message ml-1 hidden text-sm">Mensaje</span>
          </div>
          <div class="input_control flex h-fit w-full flex-col gap-2">
            <input type="tel" id="Telefono2" name="Telefono2" class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="00000000" />
            <span class="message ml-1 hidden text-sm">Mensaje</span>
          </div>
        </div>

        <!-- Contacto de emergencia (nombre)-->
        <div class="input_control flex h-full w-full flex-col gap-2">
          <input type="text" id="nombre_contacto" name="nombre_contacto" # class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}Contact's first and last name{% endblocktrans %}" />
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div>

      <!-- Fila dirección principal -->
      <div class="h-fit w-full">
        <label for="direccion_principal" class="text-md mb-1 ml-1 flex h-fit w-full">{% blocktrans %}Address{% endblocktrans %}</label>
        <div class="input_control flex w-full flex-col gap-2">
          <input type="text" id="direccion_principal" name="direccion_principal" # class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}Main address{% endblocktrans %}" />
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div>

      <!-- Fila dirección secundaria -->
      <div class="input_control flex w-full flex-col gap-2">
        <input type="text" id="direccion_secundaria" name="direccion_secundaria" # class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}Second address{% endblocktrans %}" />
        <span class="message ml-1 hidden text-sm">Mensaje</span>
      </div>

      <!-- Fila Ciudad / Estado-Provincia -->
      <div class="flex h-fit w-full flex-row gap-4">
        <!-- Ciudad -->
        <div class="input_control flex w-full flex-col gap-2">
          <input type="text" id="ciudad" name="ciudad" # class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}City{% endblocktrans %}" />
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>

        <!-- Estado / Provincia -->
        <div class="input_control flex w-full flex-col gap-2">
          <input type="text" id="Estado_Provincia" name="Estado_Provincia" # class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}State/Province{% endblocktrans %}" />
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div>

      <!-- Fila código postal -->
      <!--      <div class="input_control flex w-full flex-col gap-2">
        <input type="text" id="codigo_postal" name="codigo_postal" # class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}Postal code{% endblocktrans %}" />
        <span class="message ml-1 hidden text-sm">Mensaje</span>
      </div> -->
    </div>

    <!-- Grupo Empresa / Cargo -->
    <div class="flex h-fit w-full flex-col gap-4">
      <!-- Fila Cargos deseados-->
      <div class="flex h-fit w-full flex-col">
        <label for="Cargo1" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% blocktrans %}Desired position{% endblocktrans %}</label>
        <!-- Cargo dropdowns-->
        <div class="flex h-full w-full flex-row gap-4">
          <div class="input_control flex w-full flex-col gap-2">
            <select id="Cargo1" name="Cargo1" # class="w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
              <option value="" disabled selected>{% blocktrans %}Desired position{% endblocktrans %}</option>
              <option value="Limpieza">{% blocktrans %}Cleaning{% endblocktrans %}</option>
              <option value="Mantenimiento">{% blocktrans %}General maintenance{% endblocktrans %}</option>
              <option value="Ayudante-cocina">{% blocktrans %}Kitchen assistant{% endblocktrans %}</option>
              <option value="Recepcion">{% blocktrans %}Receptionist{% endblocktrans %}</option>
            </select>
            <span class="message ml-1 hidden text-sm">Mensaje</span>
          </div>
          <div class="input_control flex w-full flex-col gap-2">
            <select id="Cargo2" name="Cargo2" # class="w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
              <option value="" disabled selected>{% blocktrans %}Desired position{% endblocktrans %}</option>
              <option value="Limpieza">{% blocktrans %}Cleaning{% endblocktrans %}</option>
              <option value="Mantenimiento">{% blocktrans %}General maintenance{% endblocktrans %}</option>
              <option value="Ayudante-cocina">{% blocktrans %}Kitchen assistant{% endblocktrans %}</option>
              <option value="Recepcion">{% blocktrans %}Receptionist{% endblocktrans %}</option>
            </select>
            <span class="message ml-1 hidden text-sm">Mensaje</span>
          </div>
        </div>
      </div>

      <!-- Fila Turno deseado -->
      <div class="flex h-fit w-full flex-col">
        <label for="turno" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% blocktrans %}Desired shift{% endblocktrans %}</label>
        <div class="input_control flex w-full flex-col gap-2">
          <select id="turno" name="turno" # class="w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
            <option value="" disabled selected>{% blocktrans %}Select{% endblocktrans %}</option>
            <option value="mañana">{% blocktrans %}Morning{% endblocktrans %}</option>
            <option value="tarde">{% blocktrans %}Afternoon{% endblocktrans %}</option>
            <option value="noche">{% blocktrans %}Night{% endblocktrans %}</option>
            <option value="madrugada">{% blocktrans %}Overnight{% endblocktrans %}</option>
          </select>
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div>

      <!-- Fila Nivel de inglés -->
      <div class="flex h-fit w-full flex-col">
        <label for="nivel_ingles" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% blocktrans %}English level{% endblocktrans %} </label>
        <div class="input_control flex w-full flex-col gap-2">
          <select id="nivel_ingles" name="nivel_ingles" # class="w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
            <option value="" disabled selected>{% blocktrans %}Select{% endblocktrans %}</option>
            <option value="nulo">{% blocktrans %}Null{% endblocktrans %}</option>
            <option value="basico">{% blocktrans %}Basic{% endblocktrans %}</option>
            <option value="medio">{% blocktrans %}Intermediate{% endblocktrans %}</option>
            <option value="avanzado">{% blocktrans %}Advanced{% endblocktrans %}</option>
            <option value="nativo">{% blocktrans %}Native{% endblocktrans %}</option>
          </select>
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div>

      <!-- Fila ¿Cuándo puede empezar? -->
      <div class="relative flex h-full w-full flex-col">
        <!-- Label -->
        <label for="fecha_inicio" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% blocktrans %}When can you start?{% endblocktrans %}</label>
        <div class="input_control flex w-full flex-col gap-2">
          <!-- datepicker input -->
          <input type="date" name="fecha_inicio" id="fecha_inicio" class="block w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 placeholder:text-gray-400 focus:border-sky focus:ring-sky" />
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div>

      <!--       <div class="relative flex h-full w-full flex-col">

        <label for="fecha_inicio" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% blocktrans %}When can you start?{% endblocktrans %}</label>
        <div class="input_control flex w-full flex-col gap-2">

          <div class="pointer-events-none absolute inset-y-11 end-3 flex items-center">
            <svg class="h-3.5 w-3.5 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
            </svg>
          </div>

          <input datepicker datepicker-format="{% blocktrans %}mm/dd/yyyy{% endblocktrans %}" datepicker-autohide id="fecha_inicio" name="fecha_inicio" type="text" class="block w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}mm/dd/aaaa{% endblocktrans %}" />
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div> -->

      <!-- Fila Transporte -->
      <div class="flex h-fit w-full flex-col">
        <label for="Transporte" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% blocktrans %}What transportation method do you use?{% endblocktrans %}</label>
        <div class="input_control flex w-full flex-col gap-2">
          <select id="Transporte" name="Transporte" # class="w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
            <option value="" disabled selected>{% blocktrans %}Select{% endblocktrans %}</option>
            <option value="bus">{% blocktrans %}Bus{% endblocktrans %}</option>
            <option value="vehiculo-propio">{% blocktrans %}Own vehicle{% endblocktrans %}</option>
            <option value="uber">{% blocktrans %}Uber{% endblocktrans %}</option>
            <option value="otro">{% blocktrans %}Other{% endblocktrans %}</option>
          </select>
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div>
    </div>

    <!-- Grupo Preguntas extra -->
    <div class="flex h-fit w-full flex-col gap-4">
      <!-- Fila ¿Cómo nos conociste? -->
      <div class="flex h-fit w-full flex-col">
        <label for="Conociste" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% blocktrans %}How did you hear about us?{% endblocktrans %}</label>
        <div class="input_control flex w-full flex-col gap-2">
          <select id="Conociste" name="Conociste" # class="w-full cursor-pointer rounded-lg border border-gray-300 bg-white p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
            <option value="" disabled selected>{% blocktrans %}Select{% endblocktrans %}</option>
            <option value="referencia">{% blocktrans %}Reference from an acquaintance{% endblocktrans %}</option>
            <option value="sticker-qr">{% blocktrans %}Sticker with QR{% endblocktrans %}</option>
            <option value="volante">{% blocktrans %}Flyer{% endblocktrans %}</option>
            <option value="oficina">{% blocktrans %}Office{% endblocktrans %}</option>
            <option value="google">{% blocktrans %}Google{% endblocktrans %}</option>
            <option value="otro">{% blocktrans %}Other{% endblocktrans %}</option>
          </select>
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div>

      <!-- Fila Referido por -->
      <div class="h-fit w-full">
        <label for="referencia" class="text-md mb-1 ml-1 flex h-fit w-full">{% blocktrans %}Referred by (If it applies){% endblocktrans %}</label>
        <div class="input_control flex w-full flex-col gap-2">
          <input type="text" id="referencia" name="referencia" aria-describedby="helper-text-explanation" class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% blocktrans %}Reference{% endblocktrans %}" />
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div>
    </div>

    <!-- Botón Aplicar ahora -->
    <button type="submit" class="w-full rounded-lg border border-gray-300 bg-blue px-5 py-2.5 text-center font-kumbh_bold text-sm font-medium text-white shadow-sm transition ease-in-out hover:scale-y-105 hover:bg-hoverblue focus:outline-none focus:ring-4 sm:w-auto">{% blocktrans %}APPLY NOW{% endblocktrans %}</button>
  </form>
</div>

<!-- Botón para subir al inicio -->
<a href="#" id="scroll-up-button" name="scroll-up-button" class="fixed bottom-0 right-0 mx-14 my-10 rounded-full bg-blue p-2.5 text-center text-sm font-medium text-white opacity-0 transition-all delay-75 ease-in-out hover:scale-105 focus:outline-none focus:ring-2 focus:ring-sky">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
  </svg>
</a>

<!-- Verifica los campos enviados del formulario -->
{% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endblock %}

<!-- Scripts del sitio -->
{% block scripts %}
<script src="{% static 'js/button_scroll_form_up.js' %}"></script>
<!-- <script src="{% static 'js/verificacion.js' %}"></script> -->
<script src="{% static 'js/aceptar_politicas_modal.js' %}"></script>
<script defer src="{% static 'js/form_input_validation.js' %}"></script>
<script>
  const m_campo_requerido = "{% blocktrans %}Campo requerido.{% endblocktrans %}";
  const m_longitud_min = "{% blocktrans %}Debe tener mínimo 3 caracteres{% endblocktrans %}";
  const m_longitud_max = "{% blocktrans %}Máximo de caracteres alcanzado.{% endblocktrans %}";
  const m_nombre_formato = '{% blocktrans %}Ingrese su primer "Nombre" con formato válido.{% endblocktrans %}';
  const m_apellido_formato = '{% blocktrans %}Ingrese su primer "Apellido" con formato válido.{% endblocktrans %}';
  const m_email_formato = "{% blocktrans %}Ingrese un correo con formato válido.{% endblocktrans %}";
  const m_edad_minima = "{% blocktrans %}La edad mínima permitida es 18 años.{% endblocktrans %}";
  const m_fecha_futura = "{% blocktrans %}Ingrese una fecha de nacimiento válida.{% endblocktrans %}";
  const m_letras_regex = "{% blocktrans %}Ingrese solo texto.{% endblocktrans %}";
  const m_telefono_regex = "{% blocktrans %}Ingrese solo números.{% endblocktrans %}";
  const m_telefono_formato = "{% blocktrans %}Ingrese un número de teléfono válido.{% endblocktrans %}";
  const m_nombre_contacto_formato = "{% blocktrans %}Ingrese un nombre con formato válido 'Nombre Apellido'{% endblocktrans %}";
  const m_ciudad_formato = "{% blocktrans %}Ingrese una ciudad con formato válido 'Ciudad'{% endblocktrans %}";
  const m_provincia_formato = "{% blocktrans %}Ingrese una provincia con formato válido 'Provincia'{% endblocktrans %}";
  const m_fecha_inicio = "{% blocktrans %}Ingrese una fecha de inicio válida{% endblocktrans %}";
</script>
{% endblock %}
