{% extends "base_custom.html" %} {% load static %} {% load widget_tweaks %} {% load i18n %} {% block title %}Contraseña olvidada{% endblock title %} {% block desc %}Restableciendo contraseña{% endblock desc %} {% block content%}
<div class="container">
  <h1>Problemas para ingresar?</h1>
  <div class="subtitle-container">
    <h2 id="forgot-subtitle">Ingresa tu dirección de correo electrónico, te enviaremos un enlace para que puedas volver a acceder a tu cuenta.</h2>
  </div>

  <form class="form" method="POST">
    {% csrf_token %}
    <label for="">Correo</label>
    {% render_field form.email type="email" id="Correo" name="Correo" class+="w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" autocomplete="off" placeholder="example@email.com" %}

    <button id="sendEmail" onclick="emailSend()" type="submit">Enviar email</button>
    <a id="countdownLabel"> </a>
    <div class="relative-h">
      <a href="mailto:support@arvcloud.com">No puedes cambiar la contraseña?</a>
    </div>

    <div class="relative-c">
      <p>Quieres</p>
      <a class="info" href="{% url 'login' %}">Regresar al login?</a>
    </div>
  </form>
</div>

<script></script>

{% endblock content %}

<!-- Scripts del sitio -->
{% block scripts %}
<script src="{% static 'js/toggle_idioma_dropdown.js' %}"></script>
<script src="{% static 'js/password_scripts.js' %}"></script>
{% endblock %}
