{% extends "base_custom.html" %} {% load static %} {% load widget_tweaks %} {% load i18n %}
<!-- title del sitio -->
{% block title %} Cambiar contraseña {% endblock %}
<!-- Descripción del sitio -->
{% block desc %}Aqui se puede restablecer la contraseña. Preautenticación. Face-to-face learning center.{% endblock %}
<!-- Contenido del sitio -->
{% block content %} {% if validlink %}

<!-- Tarjeta de registro -->
<div class="flex h-fit w-2/5 flex-col justify-center gap-2 self-center rounded-2xl border border-gray-200 bg-white px-11 py-8 shadow-sm">
  <!-- Título -->
  <h1 class="mb-5 text-center font-kumbh_bold text-xl text-blue">{% blocktrans %}INGRESA LA NUEVA CONTRASEÑA{% endblocktrans %}</h1>
  <!-- Campos de registro -->
  <form method="post">
    {% csrf_token %}
    <fieldset class="module aligned">
      <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}" />
      <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <div class="flex-container">
          <label for="id_new_password1">{% translate 'New password:' %}</label>
          {{ form.new_password1 }}
        </div>
      </div>
      <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <div class="flex-container">
          <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
          {{ form.new_password2 }}
        </div>
      </div>
    </fieldset>
    <div class="submit-row">
      <input type="submit" value="{% translate 'Change my password' %}" />
    </div>
  </form>
  <div class="flex w-full flex-row gap-2">
    <!-- Botón inicio -->
    <a class="w-1/2 flex-nowrap text-nowrap rounded-lg bg-sky px-5 py-1.5 text-center text-xs font-medium text-white shadow-sm transition ease-in-out hover:scale-y-105 hover:bg-hoversky focus:outline-none focus:ring-4" href="{%url 'src_routes:inicio'%}">{% blocktrans %}INICIO{% endblocktrans %}</a>
    <!-- Botón condiciones y políticas -->
    <a class="w-1/2 flex-nowrap text-nowrap rounded-lg bg-sky px-5 py-1.5 text-center text-xs font-medium text-white shadow-sm transition ease-in-out hover:scale-y-105 hover:bg-hoversky focus:outline-none focus:ring-4" href="{%url 'src_routes:proteccion_datos'%}">{% blocktrans %}CONDICIONES Y POLÍTICAS{% endblocktrans %}</a>
  </div>
</div>

{% else %}
<!-- Aviso mensaje de advertencia -->
<div class="flex h-1/3 w-1/3 min-w-min flex-col gap-1 rounded-2xl border border-gray-200 bg-white px-11 py-8 shadow-sm">
  <!-- ícono de advertencia -->
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="mb-2 h-12 w-12 animate-pulse self-center text-red">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
  </svg>

  <!-- Texto -->
  <h1 class="font-kumbh_bold text-3xl">{% blocktrans %}INVALID LINK{% endblocktrans %}</h1>
  <p class="text-justify text-sm">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a new password reset.{% endblocktrans %}</p>
</div>

{% endif %} {% endblock %}

<!-- Scripts del sitio -->
{% block scripts %}
<script src="{% static 'js/toggle_idioma_dropdown.js' %}"></script>
<script src="{% static 'js/registro_scripts.js' %}"></script>
<script>
  const m_campo_requerido = "{% blocktrans %}Required field.{% endblocktrans %}";
  const m_longitud_max = "{% blocktrans %}Maximum characters reached.{% endblocktrans %}";
  const m_nombre_formato = "{% blocktrans %}Please enter your FIRST NAME with a valid format.{% endblocktrans %}";
  const m_apellido_formato = "{% blocktrans %}Please enter your LAST NAME with a valid format{% endblocktrans %}";
  const m_email_formato = "{% blocktrans %}Please enter a valid email address.{% endblocktrans %}";
  const m_letras_regex = "{% blocktrans %}Please enter text only.{% endblocktrans %}";
  const m_correo_registrado = "{% blocktrans %}This email is already registered{% endblocktrans %}";
  const m_usuario_formato = "{% blocktrans %}Please enter a valid username format{% endblocktrans %}";
  const m_contrasena_formato = "{% blocktrans %}Should contain 8+ characters, such as: numbers, lowercase, uppercase and special symbols{% endblocktrans %}";
  const m_contrasena_space = "{% blocktrans %}Must not contain spaces{% endblocktrans %}";
  const m_contrasena_match = "{% blocktrans %}Passwords do not match{% endblocktrans %}";
</script>
{% endblock %}
