{% extends "base_custom.html" %} {% load static %} {% load widget_tweaks %} {% load i18n %}
<!-- title del sitio -->
{% block title %} Cambiar contraseña {% endblock %}
<!-- Descripción del sitio -->
{% block desc %}Aqui se puede restablecer la contraseña. Preautenticación. Face-to-face learning center.{% endblock %}
<!-- Contenido del sitio -->
{% block content %} {% if validlink%}
<!-- Tarjeta de registro -->
<div class="flex h-fit w-2/5 flex-col justify-center gap-2 self-center rounded-2xl border border-gray-200 bg-white px-11 py-8 shadow-sm">
  <!-- Título -->
  <h1 class="mb-5 text-center font-kumbh_bold text-xl text-blue">{% blocktrans %}INGRESA LA NUEVA CONTRASEÑA{% endblocktrans %}</h1>
  <!-- Campos de registro -->
  <form method="post" autocomplete="off" class="flex flex-col gap-2" id="registro_form">
    <!--esto sirve para autenticar que el formulario es nuestro y no fue abierto de otro lado-->
    {% csrf_token %}
    <!-- Fila Contraseña -->
    <div class="h-fit w-full">
      <!-- Contenedor de label e íconos de seguridad contraseña -->
      <div class="mb-1 ml-1 flex h-fit w-full items-center gap-2">
        <!-- Label Contraseña -->
        <label for="Contraseña" class="text-md flex h-fit w-fit">{% blocktrans %}Password{% endblocktrans %}</label>
        <!-- Indicador. Seguridad de la contraseña -->
        <div id="pass_security_container" class="flex h-fit w-fit flex-row justify-start gap-1 opacity-0 transition delay-100 duration-100 ease-in-out">
          <p id="eight_char" class="flex h-fit w-fit rounded-xl bg-gray-100 px-1 font-kumbh_bold text-xs text-gray-400 transition delay-100 duration-100 ease-in-out">8+</p>
          <p id="numbers" class="flex h-fit w-fit rounded-xl bg-gray-100 px-1 font-kumbh_bold text-xs text-gray-400 transition delay-100 duration-100 ease-in-out">09</p>
          <p id="lower" class="flex h-fit w-fit rounded-xl bg-gray-100 px-1 font-kumbh_bold text-xs text-gray-400 transition delay-100 duration-100 ease-in-out">az</p>
          <p id="upper" class="flex h-fit w-fit rounded-xl bg-gray-100 px-1 font-kumbh_bold text-xs text-gray-400 transition delay-100 duration-100 ease-in-out">AZ</p>
          <p id="special" class="flex h-fit w-fit rounded-xl bg-gray-100 px-1 font-kumbh_bold text-xs text-gray-400 transition delay-100 duration-100 ease-in-out">#$</p>
        </div>
      </div>

      <!-- Campos de contraseña -->
      <div class="flex h-full w-full gap-4">
        <!-- Contraseña -->
        <div class="input_control relative flex w-1/2 flex-col gap-1">
          <!-- campo -->
          {% render_field form.new_password1 type="password" id="Contraseña" name="Contraseña" class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="Password" %}
          <!-- íconos de mostrar contraseña -->
          <div class="absolute end-0 top-2.5 flex w-fit cursor-pointer items-center pe-3">
            <!-- No mostrar la contraseña (default) -->
            <svg id="hidden_pass_icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
            </svg>
            <!-- Mostrar la contraseña -->
            <svg id="showing_pass_icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-4 w-4 text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
          </div>
          <!-- mensaje -->
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>

        <!-- Repetir contraseña -->
        <div class="input_control flex w-1/2 flex-col gap-2">
          {% render_field form.new_password2 type="password" id="Contraseña1" name="Contraseña1" class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="Repeat password" %}
          <span class="message ml-1 hidden text-sm">Mensaje</span>
        </div>
      </div>
    </div>

    <!-- Botón Guardar nueva contraseña -->
    <button type="Change password" class="mt-6 w-full rounded-lg bg-blue px-5 py-2.5 text-center font-kumbh_bold text-sm font-medium text-white shadow-sm transition ease-in-out hover:scale-y-105 hover:bg-hoverblue focus:outline-none focus:ring-4 sm:w-auto">GUARDAR CONTRASEÑA</button>
  </form>
  <div class="flex w-full flex-row gap-2">
    <!-- Botón inicio -->
    <a class="w-1/2 flex-nowrap text-nowrap rounded-lg bg-sky px-5 py-1.5 text-center text-xs font-medium text-white shadow-sm transition ease-in-out hover:scale-y-105 hover:bg-hoversky focus:outline-none focus:ring-4" href="{%url 'src_routes:inicio'%}">{% blocktrans %}INICIO{% endblocktrans %}</a>
    <!-- Botón condiciones y políticas -->
    <a class="w-1/2 flex-nowrap text-nowrap rounded-lg bg-sky px-5 py-1.5 text-center text-xs font-medium text-white shadow-sm transition ease-in-out hover:scale-y-105 hover:bg-hoversky focus:outline-none focus:ring-4" href="{%url 'src_routes:proteccion_datos'%}">{% blocktrans %}CONDICIONES Y POLÍTICAS{% endblocktrans %}</a>
  </div>
</div>

<div class="container">
  {% if form.errors %}
  <div id="error-message">
    <div class="error-text">
      <div class="icon-container-error">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
          <circle cx="12" cy="12" r="10" fill="none"></circle>
          <line x1="15" y1="9" x2="9" y2="15"></line>
          <line x1="9" y1="9" x2="15" y2="15"></line>
        </svg>
      </div>
      <div class="error-title">Error</div>

      {% for field in form %} {% for error in field.errors %}
      <div class="error-subtitle">{{ error }}</div>
      {% endfor %}{% endfor %}
      <button class="close-button">ok!</button>
    </div>
    {% endif %}
  </div>
</div>
{% else %}

<div class="container">
  <h1>Error</h1>
  <div class="subtitle-container">
    <h2 id="forgot-subtitle">El enlace de restablecimiento de contraseña se inválido, posiblemente porque ya ha sido utilizado o ha caducado. Por favor, solicita un nuevo restablecimiento de contraseña.</h2>
  </div>
  <div>
    <a class="form-btn" href="{% url 'login'%}">Regresar al login</a>
  </div>
</div>
{% endif %}{% endblock content %}

<!-- Scripts del sitio -->
{% block scripts %}
<script src="{% static 'js/toggle_idioma_dropdown.js' %}"></script>
<script src="{% static 'js/registro_scripts.js' %}"></script>
<script>
  const m_campo_requerido = "{% blocktrans %}Required field.{% endblocktrans %}";
  const m_longitud_max = "{% blocktrans %}Maximum characters reached.{% endblocktrans %}";
  const m_nombre_formato = "{% blocktrans %}Please enter your FIRST NAME with a valid format.{% endblocktrans %}";
  const m_apellido_formato = "{% blocktrans %}Please enter your LAST NAME with a valid format{% endblocktrans %}";
  const m_email_formato = "{% blocktrans %}Please enter a valid email address.{% endblocktrans %}";
  const m_letras_regex = "{% blocktrans %}Please enter text only.{% endblocktrans %}";
  const m_correo_registrado = "{% blocktrans %}This email is already registered{% endblocktrans %}";
  const m_usuario_formato = "{% blocktrans %}Please enter a valid username format{% endblocktrans %}";
  const m_contrasena_formato = "{% blocktrans %}Should contain 8+ characters, such as: numbers, lowercase, uppercase and special symbols{% endblocktrans %}";
  const m_contrasena_space = "{% blocktrans %}Must not contain spaces{% endblocktrans %}";
  const m_contrasena_match = "{% blocktrans %}Passwords do not match{% endblocktrans %}";
</script>
{% endblock %}
