@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "kumbh_regular";
  src: url("/static/fonts/KumbhSans-Regular.ttf");
}

@font-face {
  font-family: "kumbh_bold";
  src: url("/static/fonts/KumbhSans-Bold.ttf");
}

/* Customización del botón del selector de archivos */
input[type="file"]::file-selector-button {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #1d2269;
}

input[type="file"]::file-selector-button:hover {
  background-color: #0596ff;
}
