*{
    font-family: 'Afacad', sans-serif;
    font-family: 'Preahvihear', sans-serif;
}
.class_a{
    color: whitesmoke;
}
label{
    color: beige;
}
.class_a:hover{
     color: rgb(255, 213, 0);
}

.titulo{
    color: rgb(190, 174, 205);
}
div{
    display: inline-block;
    background: lightblue;
    padding: 150px;
    position: relative;
    top: 15em;
    left: 25em;

}
form{
    background: rgb(69, 69, 153);
    display: inline-block;
    padding: 40px;
    border-radius: 10%;
    box-shadow: 5px 5px 10px 0 black;
    position: relative;
    top: 15em;
    left: 25em;
}