<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <!--<link rel="stylesheet" type="text/css" href="estilos.css"> -->
    <link rel="icon" href="icono.ico">
    <link href="https://fonts.googleapis.com/css2?family=Afacad&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div> 
        <form action="">
        <h1 class="titulo">Iniciar Sesión</h1>
        <label for="Usuario">Nombre de Usuario</label><input type="text" value=""  name="Usuario"><br>
        <label for="Contraseña">Contraseña</label><input type="password" name="Contraseña"> <br>
        <a class="class_a" href="Registro.html"><b>¿No tienes una cuenta?</b></a> 
        <input type="submit" value="Listo">
        </form>
    </div>
  
</body>
</html>