{% load static %}
<header class="app-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item d-block d-xl-none">
        <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
          <i class="ti ti-menu-2"></i>
        </a>
      </li>
    </ul>
    <div class="navbar-collapse flex justify-start px-0" id="navbarNav">
      <ul class="navbar-nav align-items-center flex flex-row justify-start gap-2">
        {% if request.user.is_authenticated %}
        <!-- Bienvenida y editar perfil -->
        <h1 class="">Welcome, <b>{{ request.user.username|capfirst }}</b></h1>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
