{% extends 'base.html' %}
{% block title %}Activación de cuenta{% endblock %}
{% block content %}
<body>
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal text-center">Te hemos enviado un correo para verificar tu correo electronico</h1>
    <h2 class="text-center">Validar Token</h2>
    <div  class="mb-3 d-grid gap-2 col-6 mx-auto">            
        <form method="post" autocomplete="off" class="mt-5">
            {% csrf_token %}
            <form>
                <label class="text-center" for="token">Ingrese el token de verificación:</label>
                <input autocomplete="off" type="text" class="form-control" placeholder="Token" aria-label="token" aria-describedby="addon-wrapping" type="text" id="token" name="token" required>{{error}}
                <br>
                <input type="hidden" name="Correo" value="{{ request.session.user_email }}">
                <input type="hidden" name="Contraseña" value="{{ request.POST.Contraseña }}">
                <button type="submit" class="btn btn-primary">Validar Token</button><br> 
            </form>
        </form>
</body>
{% endblock %}