<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activacion</title>
</head>
<body>
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal text-center">Correo de activacion enviado</h1>
    <div class="mb-3 d-grid gap-2 col-6 mx-auto"> 
    <p class="text-center fw-normal">Te hemos enviado un correo electrónico con instrucciones para configurar tu contraseña, si existe una cuenta con el correo electrónico que ingresaste. Deberías recibirlo en breve.</p>
    <p>Si no recibes un correo electrónico, por favor asegúrate de haber ingresado la dirección con la que te registraste y verifica tu carpeta de correo no deseado.</p>{{error}}
    <div class="mb-3 d-flex justify-content-between col-6 mx-auto">
        <a href="{% url 'src_routes:inicio' %}"><b>Inicio</b></a> <a href="{% url 'src_routes:activacion' %}"><b>Reenviar Token</b></a>      
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
