{% extends 'base_custom.html' %} {% block title %}Recuperar contraseña{% endblock %} {% block content %}
<h1>Solicitud de recuperación</h1>
<p>LE HEMOS ENVIADO INSTRUCCIONES POR CORREO ELECTRÓNICO PARA ESTABLECER SU CONTRASEÑA, SI EXISTE UNA CUENTA CON EL CORREO ELECTRÓNICO QUE INGRESÓ. DEBERÍA RECIBIRLOS EN BREVE.</p>
<p>SI NO RECIBE UN CORREO ELECTRÓNICO, ASEGURESE DE HABER INGRESADO LA DIRECCIÓN CON LA QUE SE REGISTRÓ Y VERIFIQUE SU CARPETA DE CORREO NO DESEADO.</p>
<a href="{% url 'src_routes:inicio' %}">IR A INICIO</a>
<a href="{% url 'src_routes:password_reset' %}">VOLVER A INTENTAR</a>
<a href="{% url 'src_routes:proteccion_datos' %}">CONDICIONES Y POLÍTICAS</a>
{% endblock %}
