{% load static %}<!-- Carga los archivos estáticos -->
{% load i18n %}<!--me permite usar la etiquetas para traducir el texto ( internacionalización)-->
<!doctype html>
<html lang="es" class="!scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="icon" type="image/x-icon" href="{% static 'img/f2f-favicon.svg' %}" />
    <!-- Favicon -->

    <title>{% translate "Form" %}</title>

    <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}" />
    <!-- Carga el archivo css -->
  </head>

  <body class="overflow-hidden font-kumbh_regular">
    <!-- Modal Políticas y privacidad -->
    <!-- Agregar en el JS que cuando el modal está activo: 
      form-container tiene blur-sm 
      body tiene overflow-hidden-->
    <div class="fixed z-10 flex h-screen w-full items-center justify-center bg-black bg-opacity-50">
      <!-- Modal -->
      <div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="z-30 items-center justify-center overflow-hidden md:inset-0">
        <div class="relative max-h-full w-full max-w-2xl p-4">
          <!-- Modal content -->
          <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-center rounded-t border-b p-4 dark:border-gray-600 md:p-5">
              <h3 class="text-md font-kumbh_bold text-blue">{% translate "POLÍTICAS DE SEGURIDAD" %}</h3>
            </div>
            <!-- Modal body -->
            <div class="space-y-4 p-4 text-black md:p-5">
              <p class="text-sm leading-relaxed">{% translate "Antes de unirte a nuestro equipo, es importante que entiendas y aceptes nuestras políticas de empresa." %}</p>
              <p class="text-sm leading-relaxed">{% translate "Estas políticas sirven como guías para nuestros empleados para garantizar un ambiente de trabajo positivo y seguro, así como para mantener el más alto nivel de profesionalismo y ética." %}</p>
              <p class="text-sm leading-relaxed">{% translate "Al aceptar estas políticas, estás de acuerdo en cumplirlas en todo momento durante tu empleo con nosotros." %}</p>
              <p class="text-sm leading-relaxed">{% translate "Si tienes alguna pregunta o inquietud, no dudes en contactarnos." %}</p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center rounded-b border-t border-gray-200 p-4 dark:border-gray-600 md:p-5">
              <button data-modal-hide="static-modal" type="button" class="bg-blue-700 hover:bg-blue-800 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-4">I accept</button>
              <button data-modal-hide="static-modal" type="button" class="focus:ring-blue-300 ms-3 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900 focus:z-10 focus:outline-none focus:ring-4 dark:border-gray-500 dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-600">Decline</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- contenedor general -->
    <div class="flex h-full w-full flex-col items-center gap-5 bg-gradient-to-bl from-indigo-100 via-offwhite to-rose-100 p-14">
      <!-- contenedor barra superior (logo, idioma)-->
      <div class="z-20 flex h-fit w-full items-start justify-between">
        <!-- logo f2f -->
        <img class="h-10" src="{% static 'img/f2f-logo.svg' %}" alt="" />

        <!-- contenedor idioma dropdown -->
        <div class="relative flex flex-col gap-2">
          <!-- idiomas dropdown button -->
          <button id="buttonIdiomaDropdown" class="inline-flex items-center gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 text-sm font-medium text-black shadow-sm hover:bg-gray-100" type="button" onclick="toggleIdiomaDropdown()">
            <span class="w-5">
              <!-- Espaciado para el icono a la izquierda -->
              <!-- ícono mundo -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" className="w-6 h-6 text-gray-500">
                <path strokeLinecap="round" strokeLinejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
              </svg>
            </span>

            <!-- Texto del botón -->
            {% translate "Change language" %}

            <span class="w-5">
              <!-- Espaciado para el icono a la derecha -->
              <!-- ícono flecha hacia abajo -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" className="w-6 h-6">
                <path strokeLinecap="round" strokeLinejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
              </svg>
            </span>
          </button>

          <!-- idiomas dropdown menu -->
          <div id="dropdownIdiomas" class="absolute top-12 z-10 hidden w-full items-center justify-center divide-y rounded-lg bg-white text-center shadow">
            <ul class="py-2 text-sm" aria-labelledby="dropdownDefaultButton">
              {% get_current_language as LANGUAGE_CODE %}
              <!--obtener el idioma que esta, mostrar los disponibles y tenerlo en una lista-->
              {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages %} {% for formulario in languages %}
              <li>
                <a href="/{{ formulario.code }}/formulario/" class="block px-4 py-2 hover:bg-gray-100"> {{ formulario.name_local|lower }} </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Contenedor del formulario -->
      <div id="form-container" name="form-container" class="flex h-full w-1/2 flex-col items-center justify-start gap-2 blur-sm">
        <!-- Título del formulario -->
        <h1 id="titulo-formulario" name="titulo-formulario" class="flex h-fit w-full flex-col items-center justify-center rounded-lg border border-gray-200 bg-blue p-3 font-kumbh_bold text-lg text-white shadow-sm">{% translate "FORMULARIO DE APLICANTES" %}</h1>

        <!-- Contenedor del logo / imagen -->
        <div class="flex h-fit w-full justify-center rounded-lg border border-gray-200 shadow-sm">
          <!-- Logo f2f -->
          <img class="my-4 h-20" src="{% static 'img/f2f-logo.svg' %}" alt="" />
        </div>

        <!-- Campos del formulario -->
        <form method="post" autocomplete="off" action="{% url 'formularios:formulario_view' %}" enctype="multipart/form-data" class="mt-2 flex h-fit w-full flex-col gap-12 text-black">
          {% csrf_token %}<!--para que un hacker no se haga pasar por el usuario-->

          <!-- Grupo Datos personales generales -->
          <div class="flex h-fit w-full flex-col gap-4">
            <!-- Fila Nombre-->
            <div class="h-fit w-full">
              <!-- Label Nombre -->
              <label for="nombre" class="text-md mb-1 ml-1 flex h-fit w-full">{% translate "Nombre" %}</label>

              <!-- Campos del nombre -->
              <div class="flex h-full w-full gap-4">
                <!-- Nombre -->
                <input type="text" id="nombre" name="nombre" required aria-describedby="helper-text-explanation" class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'Primer nombre' %}" />
                <!-- Apellido -->
                <input type="text" id="apellido" name="apellido" required aria-describedby="helper-text-explanation" class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'Primer apellido' %}" />
              </div>
            </div>

            <!-- Fila Email / Género-->
            <div class="flex h-fit w-full flex-row gap-4">
              <!-- Email -->
              <div class="flex h-full w-full flex-col">
                <label for="nombre" class="text-md mb-1 ml-1 flex h-fit w-full">{% translate "Correo" %}</label>
                <input type="email" id="email" name="email" required aria-describedby="helper-text-explanation" class="w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'ejemplo@correo.com' %}" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" />
              </div>

              <!-- Género -->
              <div class="flex h-full w-full flex-col">
                <label for="genero" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% translate "Género" %}</label>
                <select id="genero" name="genero" required class="w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                  <option value="" disabled selected>{% translate "Seleccione" %}</option>
                  <option value="Masculino">{% translate "Male" %}</option>
                  <option value="Femenino">{% translate "Female" %}</option>
                  <option value="Otro">{% translate "Other" %}</option>
                </select>
              </div>
            </div>

            <!-- Fila Nacionalidad / Nacimiento -->
            <div class="flex h-fit w-full flex-row gap-4">
              <!-- Nacionalidad -->
              <div class="flex h-full w-full flex-col">
                <label for="nacionalidad" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% translate "Nacionalidad" %}</label>
                <select id="nacionalidad" name="nacionalidad" required class="w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm text-gray-400 outline-none focus:border-sky focus:ring-sky">
                  <option value="" disabled selected>{% translate "Seleccione" %}</option>
                  <option value="Panama">Panamá</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Chile">Chile</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Cuba">Cuba</option>
                  <option value="Ecuador">Ecuador</option>
                  <option value="United-States">United States</option>
                  <option value="Guatemala">Guatemala</option>
                  <option value="Haiti">Haití</option>
                  <option value="Honduras">Honduras</option>
                  <option value="Jamaica">Jamaica</option>
                  <option value="Mexico">México</option>
                  <option value="Nicaragua">Nicaragua</option>
                  <option value="Peru">Perú</option>
                  <option value="Venezuela">Venezuela</option>
                  <option value="Otro">{% translate "Other" %}</option>
                </select>
              </div>

              <!-- Nacimiento -->
              <div class="relative flex h-full w-full flex-col">
                <!-- Label -->
                <label for="fecha_nacimiento" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% translate "Fecha de nacimiento" %}</label>
                <!-- ícono datepicker -->
                <div class="pointer-events-none absolute inset-y-11 end-3 flex items-center">
                  <svg class="h-3.5 w-3.5 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                  </svg>
                </div>
                <!-- datepicker input -->
                <input datepicker type="text" id="fecha_nacimiento" name="fecha_nacimiento" class="block w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'dd/mm/aaaa'  %}" />
              </div>
            </div>

            <!-- Fila Alergias -->
            <div class="h-fit w-full">
              <label for="alergia" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% translate "¿Presenta alguna discapacidad o alergia?" %}</label>
              <input type="text" id="alergia" name="alergia" required aria-describedby="helper-text-explanation" class="w-full rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm placeholder-gray-400 outline-none focus:border-sky focus:ring-sky" placeholder="{% translate 'Especifique' %}" />
            </div>
          </div>

          <!-- Grupo Documentos -->
          <div class="flex h-fit w-full flex-col gap-4">
            <!-- Fila ID-->
            <div class="h-fit w-full">
              <label for="id-file" class="text-md mb-1 ml-1 flex h-fit w-full">{% translate "Identificación" %}</label>
              <input class="block h-fit w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 text-sm" id="id-file" name="id-file" type="file" accept="application/pdf" />
            </div>

            <!-- Fila CV -->
            <div class="h-fit w-full">
              <label for="cv-file" class="text-md mb-1 ml-1 flex h-fit w-full">{% translate "Hoja de vida" %}</label>
              <input class="block h-fit w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 text-sm" id="cv-file" name="cv-file" type="file" accept="application/pdf" />
            </div>
          </div>

          <!-- Grupo Contactar al aplicante -->
          <div class="flex h-fit w-full flex-col gap-4">
            <!-- Fila Teléfono1 / Contacto de emergencia (tlf) -->
            <div class="flex h-fit w-full flex-row gap-4">
              <!-- Teléfono1 -->
              <div class="flex h-full w-full flex-col">
                <label for="telefono1" class="text-md mb-1 ml-1 flex h-fit w-full">{% translate "Teléfonos" %}</label>
                <div class="flex h-fit w-full flex-row gap-2">
                  <select id="codigo1" name="codigo1" required class="w-1/2 cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                    <option value="" disabled selected>{% translate "código" %}</option>
                    <option value="+507">Panamá (+507)</option>
                    <option value="+1">EEUU (+1)</option>
                  </select>
                  <input type="tel" id="telefono1" name="telefono1" required class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate '0000-0000' %}" pattern="{% translate '[0-9]{4}-[0-9]{4}' %}" />
                </div>
              </div>

              <!-- Contacto de emergencia (tlf)-->
              <div class="flex h-full w-full flex-col">
                <label for="telefono-emergencia" class="text-md mb-1 ml-1 flex h-fit w-full">{% translate "Contacto de emergencia" %}</label>
                <div class="flex h-fit w-full flex-row gap-2">
                  <select id="codigo3" name="codigo3" required class="w-1/2 cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                    <option value="" disabled selected>{% translate "código" %}</option>
                    <option value="+507">Panamá (+507)</option>
                    <option value="+1">EEUU (+1)</option>
                  </select>
                  <input type="tel" id="telefono-emergencia" name="telefono-emergencia" required class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate '0000-0000' %}" pattern="{% translate '[0-9]{4}-[0-9]{4}' %}" />
                </div>
              </div>
            </div>

            <!-- Fila Teléfono2 / Contacto de emergencia (nombre) -->
            <div class="flex h-fit w-full flex-row gap-4">
              <!-- Teléfono2 -->
              <div class="flex h-full w-full flex-col">
                <div class="flex h-fit w-full flex-row gap-2">
                  <select id="codigo2" name="codigo2" required class="w-1/2 cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                    <option value="" disabled selected>{% translate "código" %}</option>
                    <option value="+507">Panamá (+507)</option>
                    <option value="+1">EEUU (+1)</option>
                  </select>
                  <input type="tel" id="telefono2" name="telefono2" required class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate '0000-0000' %}" pattern="{% translate '[0-9]{4}-[0-9]{4}' %}" />
                </div>
              </div>

              <!-- Contacto de emergencia (nombre)-->
              <div class="flex h-full w-full flex-col">
                <input type="text" id="nombre_contacto" name="nombre_contacto" required class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'Primer nombre y apellido del contacto' %}" />
              </div>
            </div>

            <!-- Fila dirección principal -->
            <div class="h-fit w-full">
              <label for="direccion-principal" class="text-md mb-1 ml-1 flex h-fit w-full">{% translate "Dirección" %}</label>
              <input type="text" id="direccion-principal" name="direccion-principal" required class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'Dirección principal' %}" />
            </div>

            <!-- Fila dirección secundaria -->
            <input type="text" id="direccion-secundaria" name="direccion-secundaria" required class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'Dirección secundaria' %}" />

            <!-- Fila Ciudad / Estado-Provincia -->
            <div class="flex h-fit w-full flex-row gap-4">
              <!-- Ciudad -->
              <input type="text" id="ciudad" name="ciudad" required class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'Ciudad' %}" />

              <!-- Estado / Provincia -->
              <input type="text" id="estado-provincia" name="estado-provincia" required class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'Estado / Provincia' %}" />
            </div>

            <!-- Fila código postal -->
            <input type="text" id="codigo-postal" name="codigo-postal" required class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'Código postal' %}" />
          </div>

          <!-- Grupo Empresa / Cargo -->
          <div class="flex h-fit w-full flex-col gap-4">
            <!-- Fila Cargos deseados-->
            <div class="flex h-fit w-full flex-col">
              <label for="cargo1" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% translate "Cargos deseados" %}</label>
              <!-- Cargo dropdowns-->
              <div class="flex h-full w-full flex-row gap-4">
                <select id="cargo1" name="cargo1" required class="w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                  <option value="" disabled selected>{% translate "Seleccione un cargo" %}</option>
                  <option value="Limpieza">{% translate "Limpieza" %}</option>
                  <option value="Mantenimiento">{% translate "Mantenimiento general" %}</option>
                  <option value="Ayudante-cocina">{% translate "Ayudante de cocina" %}</option>
                  <option value="Recepcion">{% translate "Recepción" %}</option>
                </select>
                <select id="cargo2" name="cargo2" required class="w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                  <option value="" disabled selected>{% translate "Seleccione un cargo" %}</option>
                  <option value="Limpieza">{% translate "Limpieza" %}</option>
                  <option value="Mantenimiento">{% translate "Mantenimiento general" %}</option>
                  <option value="Ayudante-cocina">{% translate "Ayudante de cocina" %}</option>
                  <option value="Recepcion">{% translate "Recepción" %}</option>
                </select>
              </div>
            </div>

            <!-- Fila Turno deseado -->
            <div class="flex h-fit w-full flex-col">
              <label for="turno" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% translate "Turno deseado" %}</label>
              <select id="turno" name="turno" required class="w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                <option value="" disabled selected>{% translate "Seleccione" %}</option>
                <option value="mañana">{% translate "Mañana" %}</option>
                <option value="tarde">{% translate "Tarde" %}</option>
                <option value="noche">{% translate "Noche" %}</option>
                <option value="madrugada">{% translate "Madrugada" %}</option>
              </select>
            </div>

            <!-- Fila Nivel de inglés -->
            <div class="flex h-fit w-full flex-col">
              <label for="nivel-ingles" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% translate "Nivel de inglés" %}</label>
              <select id="nivel-ingles" name="nivel-ingles" required class="w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                <option value="" disabled selected>{% translate "Seleccione" %}</option>
                <option value="nulo">{% translate "Nulo" %}</option>
                <option value="basico">{% translate "Básico" %}</option>
                <option value="medio">{% translate "Medio" %}</option>
                <option value="avanzado">{% translate "Avanzado" %}</option>
                <option value="nativo">{% translate "Nativo" %}</option>
              </select>
            </div>

            <!-- Fila ¿Cuándo puede empezar? -->
            <div class="relative flex h-full w-full flex-col">
              <!-- Label -->
              <label for="fecha_inicio" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% translate "¿Cuándo puede empezar?" %}</label>
              <!-- ícono datepicker -->
              <div class="pointer-events-none absolute inset-y-11 end-3 flex items-center">
                <svg class="h-3.5 w-3.5 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                </svg>
              </div>
              <!-- datepicker input -->
              <input datepicker id="fecha_inicio" name="fecha_inicio" type="text" class="block w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'dd/mm/aaaa'  %}" />
            </div>

            <!-- Fila Transporte -->
            <div class="flex h-fit w-full flex-col">
              <label for="transporte" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% translate "Transporte que utiliza" %}</label>
              <select id="transporte" name="transporte" required class="w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                <option value="" disabled selected>{% translate "Seleccione" %}</option>
                <option value="bus">{% translate "Bus" %}</option>
                <option value="vehiculo-propio">{% translate "Vehículo propio" %}</option>
                <option value="uber">{% translate "Uber" %}</option>
                <option value="otro">{% translate "Otro" %}</option>
              </select>
            </div>
          </div>

          <!-- Grupo Preguntas extra -->
          <div class="flex h-fit w-full flex-col gap-4">
            <!-- Fila ¿Cómo nos conociste? -->
            <div class="flex h-fit w-full flex-col">
              <label for="conociste" class="text-md mb-1 ml-1 flex h-fit w-full text-black">{% translate "¿Cómo nos conociste?" %}</label>
              <select id="conociste" name="conociste" required class="w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 p-1.5 text-sm text-gray-400 outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky">
                <option value="" disabled selected>{% translate "Seleccione" %}</option>
                <option value="referencia">{% translate "Refencia de un conocido" %}</option>
                <option value="sticker-qr">{% translate "Sticker con QR" %}</option>
                <option value="volante">{% translate "Volante" %}</option>
                <option value="oficina">{% translate "Oficina" %}</option>
                <option value="google">{% translate "Google" %}</option>
                <option value="otro">{% translate "Otro" %}</option>
              </select>
            </div>

            <!-- Fila Nombre-->
            <div class="h-fit w-full">
              <label for="referencia" class="text-md mb-1 ml-1 flex h-fit w-full">{% translate "Referido por (si aplica)" %}</label>
              <input type="text" id="referencia" name="referencia" aria-describedby="helper-text-explanation" class="h-fit w-full rounded-lg border border-gray-300 bg-white p-1.5 text-sm outline-none placeholder:text-gray-400 focus:border-sky focus:ring-sky" placeholder="{% translate 'Referencia' %}" />
            </div>
          </div>

          <!-- Botón Aplicar ahora -->
          <button type="submit" class="hover:bg-blue-800 focus:ring-blue-300 w-full rounded-lg border border-gray-300 bg-blue px-5 py-2.5 text-center font-kumbh_bold text-sm font-medium text-white shadow-sm transition ease-in-out hover:scale-[102%] focus:outline-none focus:ring-2 focus:ring-sky sm:w-auto">APLICAR AHORA</button>
        </form>
      </div>

      <!-- Copyright -->
      <p class="mt-6 text-xs text-black">COPYRIGHT © 2024 ARV SYSTEM CORP | ALL RIGHTS RESERVED.</p>

      <!-- Botón para subir al inicio -->
      <a href="#" id="scroll-up-button" name="scroll-up-button" class="fixed bottom-0 right-0 mx-14 my-10 rounded-full bg-blue p-2.5 text-center text-sm font-medium text-white opacity-0 transition-all delay-75 ease-in-out hover:scale-105 focus:outline-none focus:ring-2 focus:ring-sky">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>
      </a>
    </div>

    <!-- Scripts -->
    <!--Permite que en los campos teléfono y código solo acepte números y no otros caracteres-->
    <!-- <script>
    function numeros(elementId){
      document.getElementById(elementId).addEventListener('input', function(event) {
      // Eliminar caracteres no numéricos
      var inputValue = event.target.value.replace(/\D/g, '');
      // Limitar a 10 dígitos
      inputValue = inputValue.substring(0, 10);
      // Actualizar el valor del campo
      event.target.value = inputValue;
    });
    }
    numeros('Telefono1');
    numeros('Telefono2');
    numeros('Telefono3');
    numeros('Codigo4');
  </script> -->

    <!--Muestra el popup modal-->
    <!--     <script>
      $(document).ready(function () {
        // Muestra el modal al cargar la página
        $("#politicasModal").modal("show");

        // Cierra el modal cuando se hace clic en "Aceptar Políticas"
        $("#aceptarPoliticas").click(function () {
          $("#politicasModal").modal("hide");
        });
      });
    </script> -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- dropdown de cambio de idioma -->
    <script src="{% static 'js/toggle-idioma-dropdown.js' %}"></script>
    <!-- Botón para scrollear el form hacia el inicio -->
    <script src="{% static 'js/button-scroll-form-up.js' %}"></script>
    <!-- CDN temporal del JS de Flowbite -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/datepicker.min.js"></script>
  </body>
</html>
